:root {
    /* optimizers */
    --sgd: orange;
    --momentum: indianred;
    --nesterov: lightblue;
    --adagrad: lightgreen;
    --rmsprop: #f3f341;
    --adadelta: #f56ef5;
    --adam: #3262ff;
}

.axis {
    font-size: 0.95rem;
    font-weight: 560;
    color: rgba(0, 0, 0, 0.6);
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .axis {
        font-size: 1.2rem;
    }
}

/* 
optimization path, 
circles 
and underline in components/optimizer-picker/OptimizerPicker.vue
*/

.optimization-path {
    stroke-width: 4;
    fill: none;
    stroke-opacity: 0.0095;
    stroke: #000;
}

.circle {
    r: 5;
    stroke-opacity: 0.75;
    stroke: #000;
}

.sgd-circle {
    fill: var(--sgd);
}

.sgd.underline-container.active {
    --underline-color: var(--sgd);
}

.sgd-circle-color {
    background: var(--sgd);
}

.momentum-circle {
    fill: var(--momentum);
}

.momentum.underline-container.active {
    --underline-color: var(--momentum);
}

.momentum-circle-color {
    background: var(--momentum);
}

.nesterov-circle {
    fill: var(--nesterov);
}

.nesterov.underline-container.active {
    --underline-color: var(--nesterov);
}

.nesterov-circle-color {
    background: var(--nesterov);
}

.adagrad-circle {
    fill: var(--adagrad);
}

.adagrad.underline-container.active {
    --underline-color: var(--adagrad);
}

.adagrad-circle-color {
    background: var(--adagrad);
}

.rmsprop.underline-container.active {
    --underline-color: var(--rmsprop);
}

.rmsprop-circle-color {
    background: var(--rmsprop);
}

.rmsprop-circle {
    fill: var(--rmsprop);
}

.adadelta.underline-container.active {
    --underline-color: var(--adadelta);
}

.adadelta-circle-color {
    background: var(--adadelta);
}

.adadelta-circle {
    fill: var(--adadelta);
}

.adam.underline-container.active {
    --underline-color: var(--adam);
}

.adam-circle-color {
    background: var(--adam);
}

.adam-circle {
    fill: var(--adam);
}