.axis {
    font-size: 0.94rem;
    font-weight: 560;
    color: rgba(0, 0, 0, 0.6);
}

/* optimization path and circles */
.optimization-path {
    stroke-width: 4;
    fill: none;
    stroke-opacity: 0.0095;
    stroke: #000;
}

.circle {
    r: 5;
    stroke-opacity: 0.75;
    stroke: #000;
}

/* must have the same prefix as optimizer id: see optimizers.js */
.sgd-circle {
    fill: var(--sgd);
}

.momentum-circle {
    fill: var(--momentum);
}