:root {
    --primary: #226aff;;
    --primary-dark: #2e539d;
    --primary-comp: #ae2eff;
    --primary-comp-dark: #6f249d;
    --danger: #e96161;
    --danger-dark: #c43434;
    --control-border-color: #ddd;
    --control-border-color-focused: #a6a6a6;
    --control-invalid-color: #e96161;
    --default: #aaa;
    --default-dark: #666;

    --background: #1e2834;
    --background-lighter: #334559;
    --white: #fafafa;

    --light-blue: #7fcff7;
    --light-blue-dimmer: #27a4c7;
    --light-red: #ff2121;

    /* optimizers */
    --sgd: orange;
    --momentum: indianred;
}

.transition-ease-in {
    -webkit-transition: all 0.1s ease-in;
    -moz-transition:    all 0.1s ease-in;
    -ms-transition:     all 0.1s ease-in;
    -o-transition:      all 0.1s ease-in;
    transition:         all 0.1s ease-in;
}

.underline-container {
    background-size: 0 2px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.form-horizontal {
    display: flex;
    justify-content: flex-start;
    padding: 0em 1em;
    align-items: center;
}

.form-horizontal .control-wrapper:not(:last-child) {
    margin-right: 1.25rem;
}

.form-two-column {
    display: flex;
    justify-content: space-around;
}

.form-two-column .form {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.input-label {
    display: inline-block;
    font-size: 0.95rem;
    padding-left: 0.3em;
    margin-bottom: 0.25em;
    text-align: left;
    width: 100%;
}

.math {
    font-family: 'Computer Modern Classical Serif Italic';
    font-size: 1.1rem;
    font-weight: bold;
}

.control {
    outline: none;
    margin: 0 0 12px 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: 0.5em;
    border-radius: 0.28em;
    border: 1px solid var(--control-border-color);
}

.control:hover, 
.control:focus {
    border-color: var(--control-border-color-focused);
}

.control::placeholder {
    color: var(--control-border-color-focused);
}

.control:-ms-input-placeholder {
    color: var(--control-border-color-focused);
}

.control::-ms-input-placeholder {
    color: var(--control-border-color-focused);
}

.control-invalid {
    border-color: var(--control-invalid-color);
    box-shadow: 0 0 4px var(--control-invalid-color);
}

.control-invalid-hint {
    color: var(--control-invalid-color);
    padding: 0.3em;
}

.control-disabled {
    background: var(--control-border-color);
    border-color: var(--control-border-color-focused);
    color: var(--control-border-color-focused);
}

.control-disabled:hover {
    cursor: not-allowed;
}


.clickable {
    outline: none;
    font-size: 1.025rem;
    font-weight: 550;
    border: 2px solid var(--default);
    border-radius: 0.3em;
    background-color: transparent;
    color: var(--default);
    padding: 0.5em 0.7em;
    width: auto;
    height: auto;
    cursor: pointer;
}

.fill {
    --fill-color: var(--default);
    --fill-color-dark: var(--default-dark);
    border-color: var(--fill-color);
    background-color: var(--fill-color);
    color: var(--white);
}

.fill:hover, 
.fill:focus-visible {
    background-color: var(--fill-color-dark);
}

.fill.primary {
    --fill-color: var(--primary);
    --fill-color-dark: var(--primary-dark);
}

.fill.primary-comp {
    --fill-color: var(--primary-comp);
    --fill-color-dark: var(--primary-comp-dark);
}

.fill.danger {
    --fill-color: var(--danger);
    --fill-color-dark: var(--danger-dark);
}


.outline {
    --outline-color: var(--default);
    --outline-color-dark: var(--default-dark);
    border-color: var(--outline-color);
    color: var(--outline-color);
}

.outline:hover,
.outline:focus-visible {
    border-color: var(--outline-color-dark);
    color: var(--outline-color-dark);
}

.outline.primary {
    --outline-color: var(--primary);
    --outline-color-dark: var(--primary-dark);
}

.outline.primary-comp {
    --outline-color: var(--primary-comp);
    --outline-color-dark: var(--primary-comp-dark);
}

.outline.danger {
    --outline-color: var(--danger);
    --outline-color-dark: var(--danger-dark);
}


/* Tooltip */

/* Tooltip container */
.tooltip {
    width: inherit;
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555;
    max-width: 100px;
    color: #fff;
    text-align: center;
    padding: 0.4em 0.5em;

    /* Position the tooltip text */
    position: absolute;
    display: block;
    z-index: 1;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip.top-left .tooltiptext {
    bottom: 125%;
    left: 50%;
    border-radius: 0.25em 0.25em 0.25em 0;
}

.tooltip.top-right .tooltiptext {
    bottom: 125%;
    right: 50%;
    border-radius: 0.25em 0.25em 0 0.25em;

}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    border-width: 2.5px;
    border-style: solid;
}

.tooltip.top-left .tooltiptext::after {
    top: 100%;
    left: 0;
    border-color: #555 transparent  transparent  #555;
}

.tooltip.top-right .tooltiptext::after {
    top: 100%;
    right: 0;
    border-color: #555 #555  transparent  transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.85;
}

.submenu {
    width: 100%;
}

.submenu-title {
    color: var(--control-border-color-focused);
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 550;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    padding: 0.5rem 1.5rem;
    border-bottom: 2px solid var(--background-lighter);
}