/* Should be imported in App.vue */

#toast {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    min-width: 365px; 
    max-width: 365px; 
    min-height: 45px;
    border-radius: 0.4rem;

    overflow-wrap: break-word;
    padding: 0.5em 0.75em; 
    position: fixed;  
    z-index: 999;  
    right: -360px; 
    bottom: 2rem;
    transition: all 0.8s;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;

    color: #fff;
    background-color: #1e2834;
  }
  
  /* Show the toast when clicking on a button (class added with JavaScript) */
  #toast.show {
    visibility: visible; /* Show the toast */
    opacity: 1;
    pointer-events: auto;
    transform: translateX(calc(-360px - 2rem));
  }

  .toast-default {
    border: 4px solid #716c6c;
    color: #716c6c;
  }

  .toast-danger{
    border: 4px solid #c43434;
  }

  .toast-success {
    border: 4px solid #30b12e;
  }

  .toast-warning {
    border: 4px solid #d8af0b;
  }